.nav-main {
  display: flex;
  background: #202020;
  height: 3.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  width: 15rem;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo > img {
  height: 3rem;
}

.nav-logo > h1 {
  font-size: 2.5rem;
  color: white;
}

.nav-search {
  width: 40%;
}

.input-search {
  width: 90%;
  padding: 0.5rem 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
}

.input-search:focus {
  outline: none;
  border: 1px solid black;
}

.search-logo {
  padding: 0.5rem 0.5rem;
  border: none;
  background: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.search-logo:focus {
  outline: none;
}

.other-options {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.options-btn {
  border: none;
  background: none;
  color: white;
  font-size: 1rem;
  padding: 0.3rem;
}

.item-notification {
  background: tomato;
  padding: 0.1rem 0.3rem;
  border-radius: 1rem;
  font-size: 0.7rem;
}

.sign-in-btn {
  padding: 0.3rem 1rem;
  background: rgb(223, 56, 84);
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.active {
  transform: translateX(0);
}

.other-options-mobile {
  display: none;
}

.nav-section-top {
  display: flex;
  justify-content: space-between;
}

.nav-side-menu-mobile {
  color: white;
  display: none;
}

@media screen and (max-width: 1208px) {
  .nav-side-menu-mobile {
    display: initial;
  }
}

@media screen and (max-width: 995px) {
  .nav-search {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-section-top {
    width: 100%;
    justify-content: space-between;
  }

  .other-options {
    display: none;
  }

  .other-options-mobile {
    display: initial;
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-logo > img {
    height: 2.5rem;
  }

  .nav-logo > h1 {
    font-size: 2rem;
    color: white;
  }

  .nav-logo {
    width: 13rem;
  }

  .nav-main {
    height: 5.5rem;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 700px) {
  .other-options-mobile {
    display: initial;
    width: 12rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-section-top {
    width: 100%;
    justify-content: space-between;
  }

  .nav-logo > img {
    display: none;
  }

  .nav-logo > h1 {
    font-size: 1.5rem;
    color: white;
  }

  .nav-logo {
    width: 10rem;
  }
}
